<!--
<ng-template cxOutletRef="header" cxOutletPos="before">
  Jerry Custom Header
</ng-template>

<ng-template cxOutletRef="SimpleResponsiveBannerComponent" cxOutletPos="before" let-jerrymodel>
  <p>before banner, jerry model: {{ jerrymodel | json }}</p>
</ng-template>
-->

<!--
<app-my-outlets></app-my-outlets>

<p>before</p>
<ng-container [cxComponentWrapper]="componentMeta"></ng-container>
<p>afer</p>-->

<!--
<div>
  <pre>{{ myproduct$ | async | json }}</pre>
</div> -->
<app-mycom></app-mycom>
<cx-storefront>Loading...</cx-storefront>
